NODE_ENV=production
HOST=127.0.0.1
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5450/authdb

RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_URL=amqp://user:password@localhost:5672
RABBITMQ_EXCHANGE=microservice.exchange
RABBITMQ_QUEUE=microservice.queue

REDIS_URL=redis://localhost:6379

JWT_ACCESS_PRIVATE_KEY=src/shared/secrets/accessPrivate.pem
JWT_ACCESS_PUBLIC_KEY=src/shared/secrets/accessPublic.pem
JWT_REFRESH_PRIVATE_KEY=src/shared/secrets/refreshPrivate.pem
JWT_REFRESH_PUBLIC_KEY=src/shared/secrets/refreshPublic.pem
JWT_ACCESS_EXPIRES_IN=3h
JWT_REFRESH_EXPIRES_IN=12h

LOKI_URL=http://172.21.90.255:3101